<%-include('head')-%>
<div class="container">
    <div class="inner-elemnts">
        <h1>User login</h1> 
        
    </div>
</div>
<div class="inner">
   <div class="login">
    <h2> Welcome to Login page </h2>
    <h4> admin@gmail.com </h4>
   
    <div class="link">
        <a class="logout" href="/router/logout">logout</a>
    </div>
   </div>
 

</div>
<%-include('footer')-%>