<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="login.css"> -->
    <style>
        body{
  margin: 0%;

}
*{
    margin: 0px;
}
.inner{
  background-color: rgb(203, 203, 127);
  height:38pc;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.container{
 background: rgb(218, 227, 216);
 height: 55px;
  
}
.login{
    background-color: aliceblue;
    width: 27pc;
    height: 301px;
    margin-top: 81px;
    border-radius: 29px;
}
h2{
    margin-left: 91px;
    margin-top: 43px;
}
h4{
    margin-left: 127px;
    margin-top: 15px;
}
.link{
    margin-left: 165px;
    margin-top: 29px;
}
.logout{
    text-decoration: none;
    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: bold;
}
.logout:hover{
    color: red;
}
    </style>
</head>
<body>